<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Connecction information for HP ALM  -->
    <add key="HP_URL" value="http://52.1.218.156:8080/"/>
    <add key="HP_UID" value="alex_alm"/>
    <add key="HP_PWD" value=""/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
